body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('./assets/fondoP.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(10, 10, 10);
  scroll-behavior: smooth;
  .main-content {
  margin-top: 80px; /* deja espacio para el header fijo */
}

}
